body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #334155;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Tüm hizmet bölümleri için %30 genişlik uygulandı */
.service, .service3 {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
}

/* Tüm resimlerin tamamen aynı boyutta ve kırpılmadan hizalı görünmesi sağlandı */
.service img, .service3 img {
    width: 100%;
    height: 200px; /* İhtiyacınıza göre bu değeri artırıp azaltabilirsiniz */
    object-fit: cover;
    border-radius: 8px;
}

.service h2, .service3 h2 {
    margin-top: 10px;
}

footer {
    background-color: #334155;
    color: white;
    padding: 20px 0;
    text-align: center;
}
